<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Kreasi Teknologi Mandiri Indonesia</title>
<meta content="" name="description">

<meta content="" name="keywords">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="public/assets/img/ktm/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="public/assets/img/ktm/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="public/assets/img/ktm/favicon-16x16.png">
<link rel="manifest" href="public/assets/img/ktm/site.webmanifest">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" type="text/css" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="public/assets/vendor/aos/aos.css" type="text/css" rel="stylesheet">
<link href="public/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="public/assets/vendor/bootstrap-icons/bootstrap-icons.css" type="text/css" rel="stylesheet">
<link href="public/assets/vendor/glightbox/css/glightbox.min.css" type="text/css" rel="stylesheet">
<link href="public/assets/vendor/remixicon/remixicon.css" type="text/css" rel="stylesheet">
<link href="public/assets/vendor/swiper/swiper-bundle.min.css" type="text/css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="public/assets/css/style.css" type="text/css" rel="stylesheet">
