<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <%- include('../partials/header') %>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Kreasi Teknologi Mandiri Indonesia</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Digital Payment & Software Development</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="public/assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>About Us</h3>
                        <h2>Merupakan perusahaan penyedia pembayaran tagihan produk digital pulsa, paket data internet, asuransi, voucher game, pembelian tiket transportasi, samsat, PBB, PDAM dan lain-lain.</h2>
                        <p>
                            Saat ini Kreasi Teknologi Mandiri Indonesia mengembangkan produk dan layanan sistem pembayaran khususnya fasilitas Switching dan penggunaan Banking Virtual Account yang dapat membantu perusahaan semakin mudah dijangkau oleh para penggunanya
                        </p>
                        <div class="text-center text-lg-start">
                            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Read More</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="public/assets/img/about-2.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>About Us</h2>
                <p>Visi dan Misi</p>
            </header>

            <div class="row">

                <div class="col-lg-4 offset-lg-2 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="public/assets/img/values-2.png" class="img-fluid" alt="">
                        <h3>Visi</h3>
                        <p>Melayani semua layanan pembayaran tagihan digital tercepat dan terbaik.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="public/assets/img/values-3.png" class="img-fluid" alt="">
                        <h3>Misi</h3>
                        <p>Menjadi Perusahaan terbaik di yang dapat membantu meningkatkan transaksi pembayaran digital dalam skala global</p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Values Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>About Us</h2>
                <p>Kultur Perusahaan</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <img src="public/assets/img/features.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Integritas</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Profesional</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Bertanggung Jawab</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Inovasi</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Kerjasama Tim</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>Kepuasan Klien</h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- / row -->

        </div>

    </section><!-- End Features Section -->

    <!-- ======= Service Section ======= -->
    <section id="services" class="features">
        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
            <h3>Layanan Kami</h3>

            <div class="row">

                <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="public/assets/img/features-3.png" class="img-fluid p-4" alt="">
                </div>

                <div class="col-xl-8 d-flex content">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="ri-brush-4-line"></i>
                            <div>
                                <h4>Provider Billing Digital (Aggregator)</h4>
                                <p>Sebagai penyedia jasa pembayaran tagihan digital yang menghubungkan billing dari penyedia tagihan dengan sistem dari Collecting Agent untuk menyediakan layanan pembayaran tagihan</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="ri-line-chart-line"></i>
                            <div>
                                <h4>Optimisasi Virtual Account</h4>
                                <p>Sebagai penyedia jasa penggunaan virtual account (Rekening buatan virtual) untuk menyimpan ID pelanggan agar dapat digunakan dalam melakukan transaksi pembayaran</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="ri-stack-line"></i>
                            <div>
                                <h4>Penyedia Perangkat Lunak</h4>
                                <p>Sebagai penyedia pembuatan perangkat lunak seperti aplikasi mobile dan desktop yang dapat menunjang peningkatan efisiensi bagi kegiatan perusahaan</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="ri-magic-line"></i>
                            <div>
                                <h4>Konsultan IT & Kebutuhan Lainnya</h4>
                                <p>Sebagai jasa konsultasi permasalahan Teknologi Informasi untuk mengetahui kebutuhan model yang sesuai dengan strategi bisnis bagi perusahaan</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div><!-- End Feature Icons -->
    </section>

    <!-- ======= Why Choose us Section ======= -->
    <section id="choose" class="features">

        <div class="container" data-aos="fade-up">

            <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6">
                    <h3>Mengapa Harus Kami</h3>

                    <div class="tab-content mt-5">

                        <div class="tab-pane fade show active" id="tab1">

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Tenaga Ahli</h4>
                            </div>
                            <p>Ditangani oleh tenaga ahli yang handal dan profesional</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Layanan Berkualitas</h4>
                            </div>
                            <p>Jaminan kualitas setiap transaksi dengan Service Level Agreement 98%</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Cepat</h4>
                            </div>
                            <p>Kapasitas besar server pribadi dengan RAM cepat untuk menunjang transaksi secara online</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Eskalasi Bisnis</h4>
                            </div>
                            <p>Bersama meningkatkan jangkauan bisnis dengan mitra</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Cepat Tanggap</h4>
                            </div>
                            <p>Kami memiliki Layanan Helpdesk 24/7 yang ditanggapi langsung oleh tim IT kami</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Konsultan IT</h4>
                            </div>
                            <p>Dipandu oleh tim IT yang telah berpengalaman dalam sistem pembayaran dan Enterprise Resource Planning (ERP)</p>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6">
                    <img src="public/assets/img/features-2.png" class="img-fluid" alt="">
                </div>

            </div><!-- End Feature Tabs -->

        </div>

    </section>

    <!-- ======= Partners Section ======= -->
    <section id="partners" class="clients">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>mitra</h2>
                <p>Mitra Kami</p>
            </header>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="public/assets/img/clients/warkat.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/premiumpayment.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/bimasakti.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/madupay.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/pdamtkr.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/nicepay.png" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section><!-- End Clients Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="public/assets/img/ktm/kreasi_icon.svg" alt="">
                        <span>KTMI</span>
                    </a>
                    <p>Digital Payment & Software Development</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <!--<div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>-->

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        Perumahan Bale Tirtawana <br>
                        Blok D5 No 22 Sukamulya<br>
                        Rumpin, Kab. Bogor, Jawa Barat <br><br>
                        <strong>Phone:</strong> (+62) 813 8370 2960<br>
                        <strong>Email:</strong> busdev@kitamandiri.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>KTMI</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="public/assets/vendor/purecounter/purecounter.js"></script>
<script src="public/assets/vendor/aos/aos.js"></script>
<script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="public/assets/js/main.js"></script>

</body>

</html>
