<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <%- include('../partials/header-term') %>
</header><!-- End Header -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="margin-top: 60px;">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h2>Kebijakan dan Provasi</h2>

                        <p>Selamat datang di platform digital untuk memfasilitasi transaksi atau yang dikenal dengan market-place berbasis keagenan bernama 'KTM PPOB' ("<strong>Aplikasi</strong>") yang dikelola oleh PT KILAT TEKNOLOGI MANDIRI ("<strong>Kami</strong>" atau "<strong>Perusahaan</strong>").</p>



                        <p>Kebijakan Privasi ini menjelaskan bagaimana Kami mengumpulkan, memperoleh, menyimpan, menggunakan, mengolah, menguasai, memindahkan, mengirimkan, mengungkapkan dan/atau melindungi segala informasi dan data yang diperoleh dari atau sehubungan dengan penggunaan Aplikasi ("<strong>Informasi Yang Diperoleh</strong>"), termasuk informasi yang dapat diidentifikasi atau terasosiasi pada Anda ("<strong>Data Pribadi</strong>").</p>



                        <p>Dengan mengakses dan/atau menggunakan Aplikasi, Anda memahami dan setuju untuk tunduk terhadap Kebijakan Privasi ini. Mohon untuk membaca Kebijakan Privasi ini dengan seksama dan secara menyeluruh. Dalam hal Anda tidak setuju dengan Kebijakan Privasi ini, Anda berhak untuk tidak mengakses dan/atau tidak menggunakan Aplikasi.</p>



                        <p><strong>DEFINISI</strong><strong></strong></p>



                        <p>Istilah-istilah yang digunakan dalam Syarat dan Ketentuan ini mempunyai arti sebagai berikut:</p>



                        <ol type="1"><li>"<strong>Akun</strong>" berarti setiap akun atas nama Agen yang terdaftar pada Aplikasi.</li><li>"<strong>Anda</strong>" atau "<strong>Agen</strong>" berarti setiap orang atau badan usaha yang mengakses dan menggunakan serta telah terdaftar pada Aplikasi.</li><li>"<strong>Para Pihak</strong>" berarti Perusahaan dan Agen secara bersama-sama, dan "<strong>Pihak</strong>" adalah masing-masing dari Perusahaan atau Agen.</li><li>"<strong>Syarat dan Ketentuan</strong>" berarti perjanjian antara Perusahaan dan Agen mengenai syarat dan ketentuan sehubungan dengan penggunaan Aplikasi.</li></ol>



                        <p><strong>INFORMASI YANG DIPEROLEH</strong><strong></strong></p>



                        <ol type="1"><li>Kami mengumpulkan Informasi Yang Diperoleh (termasuk Data Pribadi) agar Aplikasi dapat digunakan sesuai maksud dan tujuannya, untuk menunjang efisiensi kinerja Aplikasi dan meningkatkan kualitas layanan dalam Aplikasi.</li><li>Informasi Yang Diperoleh meliputi Data Pribadi dan informasi lainnya yang Anda berikan secara langsung maupun yang terkumpul secara otomatis karena penggunaan Aplikasi.</li><li>Informasi Yang Diperoleh yang Anda berikan secara langsung kepada Kami meliputi Data Pribadi yang Anda berikan ketika proses pendaftaran Akun, termasuk namun tidak terbatas pada nama, alamat, nomor telepon, alamat email, tanggal lahir, serta informasi lainnya yang ditentukan oleh Perusahaan dari waktu ke waktu.</li><li>Informasi Yang Diperoleh yang terkumpul secara otomatis ketika Anda menggunakan Aplikasi meliputi alamat protokol internet&nbsp;<em>(internet protocol address)</em>, informasi untuk masuk sistem atau aplikasi&nbsp;<em>(login information)</em>, lokasi geografis&nbsp;<em>(geolocation)</em>, sistem operasi&nbsp;<em>(operating system)</em>&nbsp;dan versi peramban&nbsp;<em>(browser version)</em>&nbsp;dari perangkat elektronik yang Anda gunakan untuk mengakses Aplikasi, lalu lintas data&nbsp;<em>(data traffic)</em>, rekaman situs dan data komunikasi lainnya.</li><li>Kami dapat melacak dan mengumpulkan informasi lokasi geografis Agen secara&nbsp;<em>real-time</em>&nbsp;(waktu yang nyata). Kami dapat meminta Agen untuk membuat aktif&nbsp;<em>Global Positioning System</em>&nbsp;("<strong>GPS</strong>") pada perangkat elektronik Agen agar Kami dapat memberikan Anda pengalaman yang lebih baik dalam mengakses atau menggunakan Aplikasi. Agen dapat menonaktifkan GPS pada perangkat elektronik Agen, namun dengan ketentuan akses atau penggunaan Agen terhadap Aplikasi dapat terpengaruh atau terhenti.</li></ol>



                        <p><strong>PENGGUNAAN DAN PENYIMPANAN INFORMASI YANG DIPEROLEH</strong><strong></strong></p>



                        <ol type="1"><li>Kami dapat menggunakan Informasi Yang Diperoleh (termasuk Data Pribadi) untuk tujuan-tujuan berikut ini maupun untuk tujuan lain yang diizinkan oleh hukum dan/atau peraturan perundang-undangan yang berlaku<ul><li>mengidentifikasi dan mendaftarkan anda sebagai Agen;</li><li>membuat, mengadministrasikan, memverifikasi, menonaktifkan dan/atau mengelola Akun Agen;</li><li>menyediakan layanan pada Aplikasi, termasuk namun tidak terbatas pada pelaksanaan transaksi elektronik, pembayaran atau verifikasi tertentu yang diperlukan sehubungan dengan transaksi elektronik atau pembayaran tersebut;</li><li>memberikan notifikasi atau informasi terkait penggunaan Aplikasi, termasuk segala pembaruan atau perubahan pada Aplikasi;</li><li>memungkinkan Agen menggunakan fitur interaksi atau komunikasi, termasuk layanan untuk menjawab pertanyaan dan/atau keluhan, dengan Perusahaan melalui Aplikasi;</li><li>mengupayakan agar isi, konten, dan segala informasi pada Aplikasi ditampilkan dengan cara yang paling efektif bagi Agen dan perangkat elektronik yang Agen gunakan;</li><li>memantau dan/atau menganalisis penggunaan atau pengelolaan Aplikasi demi mendukung efisiensi dan efektivitas Aplikasi dan fungsi- fungsi lain di dalamnya, termasuk pola penggunaan Aplikasi serta berbagai layanan yang tersedia di dalamnya;</li><li>memperbaiki, meningkatkan kualitas, dan/atau mengembangkan layanan pada Aplikasi, termasuk keamanan sistem elektronik Perusahaan;</li><li>melakukan proses dan fungsi bisnis atau kegiatan usaha lainnya oleh Kami dan/atau afiliasi Kami yang dilakukan secara wajar dan patut;</li><li>memberikan bantuan sehubungan dengan upaya penyelesaian terhadap masalah operasional dan teknis pada Aplikasi;</li><li>mencegah, mendeteksi dan/atau menyelidiki segala kegiatan yang dilarang, tidak sah, tidak sesuai hukum atau merupakan suatu bentuk kecurangan apapun, termasuk transaksi yang mencurigakan, penipuan, pencucian uang, dan/atau pendanaan terorisme;</li><li>menghasilkan informasi dan data hasil analisa dalam rangka pengujian, penelitian, analisis, pengembangan produk, kemitraan komersial dan kerja sama;</li><li>memfasilitasi transaksi atau aktivitas tertentu dari Perusahaan dan/atau afiliasi Perusahaan;</li><li>audit internal maupun eksternal Perusahaan;</li><li>memungkinkan Perusahaan mematuhi semua kewajiban berdasarkan peraturan perundang-undangan yang berlaku.</li></ul></li><li>Informasi Yang Diperoleh (termasuk Data Pribadi) hanya akan disimpan selama diperlukan untuk memenuhi tujuan dari pengumpulannya, atau selama penyimpanan tersebut dipersyaratkan atau diperbolehkan oleh peraturan perundang-undang yang berlaku. Kami akan berhenti menyimpan Informasi Yang Diperoleh segera setelah dianggap bahwa tujuan pengumpulan dan penyimpanan Informasi Yang Diperoleh tersebut tidak lagi dipersyaratkan untuk tujuan yang wajar atau dipersyaratkan secara hukum.</li></ol>



                        <p><strong>PEMBERIAN ATAU PENGUNGKAPAN INFORMASI YANG DIPEROLEH</strong><strong></strong></p>



                        <ol type="1"><li>Anda menyetujui dan memberikan wewenang kepada Penyelenggara untuk memberikan atau mengungkapkan Informasi Yang Diperoleh (termasuk Data Pribadi) kepada afiliasi Perusahaan, investor atau calon investor Perusahaan, dan/atau pihak ketiga, termasuk yang secara wajar diperlukan untuk meningkatkan kinerja dan kualitas Aplikasi, mengembangkan fitur- fitur pada Aplikasi, antara lain, untuk melakukan pemeliharaan dan pengelolaan sistem, perangkat, dan jaringan Perusahaan, dan kepada konsultan, auditor, penyedia jasa, atau penasihat profesional.</li><li>Kami dapat memberikan atau mengungkapkan Informasi Yang Diperoleh (termasuk Data Pribadi) dalam hal dipersyaratkan oleh penetapan atau putusan pengadilan, perintah atau keputusan dari institusi yang berwenang, untuk memenuhi peraturan perundang-undangan yang berlaku, atau dalam hal terjadi proses hukum, pengambilan tindakan pencegahan lebih lanjut sehubungan dengan aktivitas yang tidak sah atau tidak berwenang, atau dugaan tindak pidana atau pelanggaran hukum.</li><li>Kami akan melakukan upaya yang wajar untuk menghapus Data Pribadi yang tidak perlu dikaitkan dengan Anda sebelum memberikan atau mengungkapkan Informasi Yang Diperoleh (termasuk Data Pribadi).</li><li>Kami dapat menghilangkan bagian-bagian tertentu dari Data Pribadi yang dapat mengidentifikasi Agen sehingga menjadi data anonim, dan mengungkapkan data anonim tersebut kepada pihak ketiga. Kami juga dapat mengkombinasikan Data Pribadi dengan informasi-informasi lain sedemikan rupa sehingga informasi tersebut tidak lagi terasosiasi dengan Agen, dan kemudian memberikan atau mengungkapkan informasi yang telah dikombinasikan tersebut kepada pihak ketiga.</li><li>Kami dapat memberikan dan mengungkapkan Data Pribadi jika Agen menyetujui pemberian atau pengungkapan tersebut.</li></ol>



                        <p><strong>PENGAMANAN</strong><strong></strong></p>



                        <ol type="1"><li>Kerahasiaan atas Data Pribadi merupakan hal yang sangat penting bagi Kami. Kami berupaya dan akan selalu mengambil langkah-langkah yang secara wajar diperlukan untuk melindungi keamanan Informasi Yang Diperoleh (termasuk Data Pribadi). Namun, Kami tidak dapat sepenuhnya menjamin bahwa sistem kami benar-benar tidak dapat ditembus oleh virus,&nbsp;malware&nbsp;, gangguan, peretasan, pelanggaran hukum atau akses tidak sah oleh pihak ketiga.</li><li>Anda dilarang memberikan atau mengungkapkan identitas ( ID) Anda dan/atau kata sandi (password) Anda kepada pihak lain manapun dan harus selalu menjaga keamanan perangkat elektronik yang Anda gunakan.</li></ol>



                        <p><strong>HAK AKSES ATAS DATA PRIBADI</strong><strong></strong></p>



                        <p>Anda berhak untuk mengakses Data Pribadi yang disimpan pada Perusahaan dengan menyampaikan permintaan akses kepada Perusahaan pada setiap Hari Kerja pukul 09.00-17.00 WIB melalui alamat surat elektronik:&nbsp;<a href="mailto:mandiridigitalteknologi@gmail.com" target="_blank" rel="noreferrer noopener">mandiridigitalteknologi@gmail.com</a></p>



                        <p><strong>PERUBAHAN DATA PRIBADI</strong><strong></strong></p>



                        <p>Anda berhak untuk mengakses Data Pribadi yang disimpan pada Perusahaan dengan menyampaikan permintaan akses kepada Perusahaan pada setiap Hari Kerja pukul 09.00-17.00 WIB melalui alamat surat elektronik:&nbsp;<a href="mailto:mandiridigitalteknologi@gmail.com">mandiridigitalteknologi@gmail.com</a></p>



                        <p><strong>PENARIKAN PERSETUJUAN DAN PENGHAPUSAN DATA PRIBADI</strong><strong></strong></p>



                        <p>Anda dapat menarik persetujuan Anda atas pengumpulan, perolehan, penyimpanan, penggunaan, pengolahan, penguasaan, pemindahan, pengiriman, pengungkapan dan/atau perlindungan Data Pribadi sebagaimana diatur dalam Kebijakan Privasi ini dan meminta penghapusan Data Pribadi tersebut sesuai dengan hukum dan peraturan perundang-undangan yang berlaku. Anda memahami dan setuju bahwa penarikan persetujuan dan permintaan penghapusan Data Pribadi dapat mengakibatkan Anda tidak lagi dapat mengakses dan/atau menggunakan Aplikasi.</p>



                        <p><strong>KETENTUAN LAIN-LAIN</strong><strong></strong></p>



                        <ol type="1"><li>Kebijakan Privasi ini adalah satu kesatuan dan merupakan bagian yang tidak terpisahkan dari Syarat dan Ketentuan.</li><li>Kecuali diatur lain secara tegas atau konteksnya menentukan lain dalam Kebijakan Privasi ini, istilah-istiliah yang diatur dalam Syarat dan Ketentuan akan, ketika digunakan dalam Kebijakan Privasi ini, memiliki pengertian yang sama dengan pengertian sebagaimana diatur dalam Syarat dan Ketentuan.</li><li>Ketentuan mengenai ‘KETENTUAN LAIN-LAIN’, ‘HUKUM YANG BERLAKU DAN PENYELESAIAN PERSELISIHAN’ dan ‘KONTAK KAMI’ dalam Syarat dan Ketentuan diberlakukan (atau dianggap diatur) dalam Kebijakan Privasi ini dengan rujukan ketentuan ini.</li></ol>
                        <div class="clear"></div>

                    </div>
                </div>
            </div>
        </div>

    </section><!-- End About Section -->

    <!-- ======= Why Choose us Section ======= -->
    <section id="choose" class="features" style="margin-top: -150px">

        <div class="container" data-aos="fade-up">

            <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6">
                    <h3>Mengapa Harus Kami</h3>

                    <div class="tab-content mt-5">

                        <div class="tab-pane fade show active" id="tab1">

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Tenaga Ahli</h4>
                            </div>
                            <p>Ditangani oleh tenaga ahli yang handal dan profesional</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Layanan Berkualitas</h4>
                            </div>
                            <p>Jaminan kualitas setiap transaksi dengan Service Level Agreement 98%</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Cepat</h4>
                            </div>
                            <p>Kapasitas besar server pribadi dengan RAM cepat untuk menunjang transaksi secara online</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Eskalasi Bisnis</h4>
                            </div>
                            <p>Bersama meningkatkan jangkauan bisnis dengan mitra</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Cepat Tanggap</h4>
                            </div>
                            <p>Kami memiliki Layanan Helpdesk 24/7 yang ditanggapi langsung oleh tim IT kami</p>

                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>Konsultan IT</h4>
                            </div>
                            <p>Dipandu oleh tim IT yang telah berpengalaman dalam sistem pembayaran dan Enterprise Resource Planning (ERP)</p>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6">
                    <img src="public/assets/img/features-2.png" class="img-fluid" alt="">
                </div>

            </div><!-- End Feature Tabs -->

        </div>

    </section>

    <!-- ======= Partners Section ======= -->
    <section id="partners" class="clients">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>mitra</h2>
                <p>Mitra Kami</p>
            </header>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="public/assets/img/clients/warkat.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/premiumpayment.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/bimasakti.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/madupay.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/pdamtkr.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="public/assets/img/clients/nicepay.png" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section><!-- End Clients Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="public/assets/img/kilat.png" alt="">
                        <span>Kilat Teknologi Mandiri</span>
                    </a>
                    <p>Digital Payment & Software Development</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <!--<div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>-->

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        Perumahan Bale Tirtawana <br>
                        Blok D5 No 22 Sukamulya<br>
                        Rumpin, Kab. Bogor, Jawa Barat <br><br>
                        <strong>Phone:</strong> (+62) 813 8370 2960<br>
                        <strong>Email:</strong> busdev@kitamandiri.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Kilat</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="public/assets/vendor/purecounter/purecounter.js"></script>
<script src="public/assets/vendor/aos/aos.js"></script>
<script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="public/assets/js/main.js"></script>

</body>

</html>
